@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media (max-width: 1190px) {
}

@media (max-width: 990px) {
	ul.menu {
		display: none
	}
	a.menu-mobile {
		display: block;
	}
}
@media (max-width: 767px) {}
@media (max-width: 750px) {}

@media (max-width: 680px) {
}

@media (max-width: 630px) {}

@media (max-width: 500px) {}

@media (max-width: 420px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {
}