@import url(../css/jquery.mmenu.all.css);
@import url(../css/slick.css);
@import url(../libs/bootstrap4/css/bootstrap.min.css);
@import url(../libs/font-awesome/css/font-awesome.css);
@import url(../libs/owlcarousel/assets/owl.carousel.min.css);
@import url(../libs/owlcarousel/assets/owl.theme.green.min.css);
@import url(../libs/lightGallery/css/lightgallery.min.css);
@import url(../libs/sliderGallery/css/lightslider.min.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,700");
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * 3DX
 */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * 3DX Reverse
 */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * 3DY
 */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }
.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * 3DY Reverse
 */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * 3DXY
 */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }
.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * 3DXY Reverse
 */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }
.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
 * Arrow Alt
 */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
 * Arrow Alt Right
 */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
 * Arrow Turn
 */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
 * Arrow Turn Right
 */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
 * Elastic Reverse
 */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
 * Emphatic Reverse
 */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
 * Minus
 */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Spin Reverse
 */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Spring
 */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
 * Spring Reverse
 */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Stand
 */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Stand Reverse
 */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Vortex
 */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
 * Vortex Reverse
 */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }
.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*----- reset -----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0; }

:focus {
  outline: 0; }

ol, ul {
  list-style: none; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #fff;
  color: #000;
  font: normal normal 100% Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: .75em; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
header {
  background: url(../images/bg-header.png) repeat-y center;
  background-size: contain;
  padding: 5px 0;
  position: relative; }
  header:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  header .mcn-menu {
    margin-top: 5px;
    text-align: center; }
    header .mcn-menu ul.menu li {
      float: left;
      text-transform: initial;
      padding: 0px;
      position: relative;
      z-index: 100; }
      header .mcn-menu ul.menu li:last-child {
        margin: 0; }
      header .mcn-menu ul.menu li a {
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        color: #ffffff;
        padding: 15px 0px;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden; }
        header .mcn-menu ul.menu li a i {
          margin-left: 6px;
          transition: all 300ms linear;
          -o-transition: all 300ms linear;
          -ms-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -webkit-transition: all 300ms linear; }
      header .mcn-menu ul.menu li:hover a i {
        transform: rotate(180deg); }
      header .mcn-menu ul.menu li ul {
        width: 205px;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        z-index: 90;
        left: 0px;
        top: 75px;
        text-align: left; }
      header .mcn-menu ul.menu li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        top: 65px;
        left: 0; }
      header .mcn-menu ul.menu li ul:before {
        content: '';
        display: block;
        width: 100%;
        border-top: 30px solid transparent;
        position: absolute;
        left: 0;
        top: -30px; }
      header .mcn-menu ul.menu li ul li {
        float: none;
        padding: 0; }
        header .mcn-menu ul.menu li ul li a {
          font-size: 13px;
          font-size: 0.8125rem;
          line-height: 20px;
          text-transform: initial;
          padding: 12px 15px;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.5);
          border-bottom: 1px dashed rgba(255, 255, 255, 0.5); }
        header .mcn-menu ul.menu li ul li:last-child a {
          border-bottom: 0; }
      header .mcn-menu ul.menu li li a:before {
        display: none; }
      header .mcn-menu ul.menu li li:hover a {
        background: linear-gradient(150deg, #17a3fa 0%, #2bbec9 40%, #3fdb96 75%);
        color: #ffffff; }
    header .mcn-menu ul.menu > li {
      margin-right: 59px; }

/*===================================================================*/
.mm-menu {
  background: #000; }

.mm-listview > li > a, .mm-listview > li > span {
  font: 400 14px/20px 'Open Sans', sans-serif;
  color: #fff;
  text-transform: uppercase; }

.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
  font: 700 18px/20px 'Open Sans', sans-serif;
  color: #fff;
  text-transform: uppercase; }

.mm-navbar {
  border-color: #270f00; }

.mm-listview > li {
  border-color: #270f00; }
  .mm-listview > li .mm-next {
    border-color: #270f00; }
    .mm-listview > li .mm-next:before {
      border-color: #270f00; }
  .mm-listview > li:after {
    border-color: #270f00; }
  .mm-listview > li:not(.mm-divider):after {
    border-color: #270f00;
    left: 0;
    z-index: 3; }

.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
  border-color: #fff; }
.mm-menu .mm-listview > li .mm-arrow:after, .mm-menu .mm-listview > li .mm-next:after {
  border-color: #fff; }
.mm-menu .mm-listview > li.mm-selected > a {
  background: #f96a0e;
  border-radius: 0;
  color: #fff; }
  .mm-menu .mm-listview > li.mm-selected > a:not(.mm-next) {
    background: #f96a0e;
    border-radius: 0;
    color: #fff; }
.mm-menu .mm-listview > li.mm-selected > span {
  background: #f96a0e;
  border-radius: 0;
  color: #fff; }
.mm-menu .mm-listview > li a:not(.mm-next) {
  -webkit-tap-highlight-color: #f96a0e;
  tap-highlight-color: #f96a0e;
  color: #fff; }

#mm-1 ul.mm-listview > li > a {
  text-transform: initial; }

@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster/Lobster.eot");
  src: url("../fonts/Lobster/Lobster.eot") format("embedded-opentype"), url("../fonts/Lobster/Lobster.woff") format("woff"), url("../fonts/Lobster/Lobster.ttf") format("truetype"), url("../fonts/Lobster/Lobster.svg#Lobster") format("svg"); }
/*----- common -----*/
body {
  font-family: roboto,sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #1b1b1b;
  line-height: 25px; }

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  font-weight: normal; }

input, select, textarea {
  color: #38444f;
  font: normal normal 1em Arial, Helvetica, sans-serif; }

input:focus, select:focus, textarea:focus {
  outline: none; }

a:link, a:visited, a:hover, a:focus {
  outline: none; }
a:link, a:visited, a:hover, a:focus {
  text-decoration: none; }
a:link, a:visited {
  color: #000; }
a:hover, a:focus {
  color: #43f812; }

* {
  border-box: box-sizing; }

.clear {
  clear: both; }

.mcn-ic {
  background: url(../images/front/sprite.png) no-repeat; }

a.btn-view-more {
  background: linear-gradient(90deg, #1fe892, #02c0a1);
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 10px 0 12px 0;
  border-radius: 4px;
  width: 250px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  a.btn-view-more:hover {
    background: linear-gradient(150deg, #17a3fa 0%, #2bbec9 40%, #3fdb96 75%); }

.pc {
  display: block; }
  @media (max-width: 767px) {
    .pc {
      display: none !important; } }

.sp {
  display: none; }
  @media (max-width: 767px) {
    .sp {
      display: block !important; } }

.mcn-title {
  text-align: center;
  margin-bottom: 23px; }
  .mcn-title h2 {
    font-size: 25px;
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #222222;
    padding: 22px 0; }
  .mcn-title .sub-title {
    font-size: 23px;
    font-size: 1.4375rem;
    color: #444444;
    line-height: 25px; }
  .mcn-title p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #444444;
    line-height: 25px; }

section {
  padding: 1.5% 0 2%; }

.block-banner-top {
  padding: 0; }
  .block-banner-top .wrap-block-banner-top {
    background: url(../images/banner-top.png) center no-repeat;
    background-size: cover;
    padding: 4.8% 0 6.2%; }
    .block-banner-top .wrap-block-banner-top .lst-block .detail {
      padding: 0 3%; }
      .block-banner-top .wrap-block-banner-top .lst-block .detail h5 {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px; }
      .block-banner-top .wrap-block-banner-top .lst-block .detail p {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 25px; }

.lst-project .detail {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px; }
  .lst-project .detail ._img {
    height: 350px;
    overflow: hidden;
    position: relative; }
    .lst-project .detail ._img img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 2.4s ease-in-out;
      -moz-transition: all 2.4s ease-in-out;
      -ms-transition: all 2.4s ease-in-out;
      -o-transition: all 2.4s ease-in-out;
      transition: all 2.4s ease-in-out; }
    .lst-project .detail ._img .action-pro {
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 100%;
      padding: 10px 0;
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
      .lst-project .detail ._img .action-pro a {
        display: inline-block;
        padding: 5px 10px;
        color: #ffffff;
        font-size: 13px;
        font-size: 0.8125rem;
        margin: 0 3px; }
        .lst-project .detail ._img .action-pro a.viewdemo {
          background: #B80009; }
        .lst-project .detail ._img .action-pro a.viewdetail {
          background: #1EBB42; }
        .lst-project .detail ._img .action-pro a:hover {
          text-decoration: underline; }
  .lst-project .detail:hover ._img img {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%); }
  .lst-project .detail:hover ._img .action-pro {
    bottom: 0; }

.block-service {
  background: url(../images/bg-service.png) no-repeat top;
  background-size: cover;
  padding-bottom: 7%; }
  .block-service .lst-service {
    padding-top: 10px; }
    .block-service .lst-service .detail.pdl107 {
      padding-left: 107px; }
    .block-service .lst-service .detail.pdl48 {
      padding-left: 48px; }
    .block-service .lst-service .detail ._img {
      margin-bottom: 46px; }
    .block-service .lst-service .detail ._text h5 {
      font-size: 18px;
      font-size: 1.125rem;
      color: #222222;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 12px; }
    .block-service .lst-service .detail ._text ul li {
      color: #1b1b1b;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 25px;
      position: relative;
      padding-left: 23px; }
      .block-service .lst-service .detail ._text ul li:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #000000;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%); }

.block-partner {
  background: #f7faff;
  padding-top: 3.7%;
  padding-bottom: 3.8%; }
  .block-partner .lst-partner {
    padding-top: 10px;
    margin-bottom: 28px; }
    .block-partner .lst-partner .detail {
      background: #ffffff; }
    .block-partner .lst-partner .owl-nav {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .block-partner .lst-partner .owl-nav .owl-prev {
        position: inherit;
        left: -45px;
        height: 30px;
        display: inline-block; }
        .block-partner .lst-partner .owl-nav .owl-prev i {
          display: inline-block;
          width: 17px;
          height: 30px;
          opacity: 0.7;
          background: url(../images/front/ic-owl-partner.png) 0 0 no-repeat; }
          .block-partner .lst-partner .owl-nav .owl-prev i:hover {
            opacity: 1; }
      .block-partner .lst-partner .owl-nav .owl-next {
        position: inherit;
        right: -45px;
        height: 30px;
        display: inline-block; }
        .block-partner .lst-partner .owl-nav .owl-next i {
          display: inline-block;
          width: 17px;
          height: 30px;
          opacity: 0.7;
          background: url(../images/front/ic-owl-partner.png) -19px 0 no-repeat; }
          .block-partner .lst-partner .owl-nav .owl-next i:hover {
            opacity: 1; }
  .block-partner .block-bottom .detail {
    min-height: 233px;
    border-radius: 6px;
    text-align: center;
    padding: 50px 42px 0; }
    .block-partner .block-bottom .detail._box1 {
      background: url(../images/bg-partner01.png) no-repeat center; }
    .block-partner .block-bottom .detail._box2 {
      background: url(../images/bg-partner02.png) no-repeat center; }
    .block-partner .block-bottom .detail span {
      font-size: 18px;
      font-size: 1.125rem;
      color: #ffffff;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      margin-bottom: 9px; }
    .block-partner .block-bottom .detail p {
      font-size: 14px;
      font-size: 0.875rem;
      color: #ffffff; }

.content-bottom .cate-pro {
  margin-bottom: 70px; }
  .content-bottom .cate-pro .lst-cate-pro {
    padding-top: 9px; }
    .content-bottom .cate-pro .lst-cate-pro ul.row {
      margin: 0 -10px;
      padding-bottom: 32px; }
      .content-bottom .cate-pro .lst-cate-pro ul.row li {
        width: calc(100% / 7);
        float: left;
        padding: 0 10px; }
        .content-bottom .cate-pro .lst-cate-pro ul.row li .detail {
          text-align: center; }
          .content-bottom .cate-pro .lst-cate-pro ul.row li .detail ._img {
            margin-bottom: 22px; }
          .content-bottom .cate-pro .lst-cate-pro ul.row li .detail p {
            font-size: 14px;
            font-size: 0.875rem;
            font-weight: 500;
            color: #444444;
            text-transform: uppercase; }
.content-bottom .comment-us .lst-comment-us {
  width: 860px;
  margin: 0 auto; }
  .content-bottom .comment-us .lst-comment-us .wrap-detail {
    padding-top: 100px;
    padding-bottom: 15px; }
    .content-bottom .comment-us .lst-comment-us .wrap-detail .detail {
      position: relative;
      text-align: center;
      width: 830px;
      border-radius: 6px;
      padding: 0 72px 72px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
      margin: 0 auto; }
      .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        bottom: 0; }
      .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._text {
        padding: 125px 20px 0; }
        .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._text span {
          font-size: 16px;
          font-size: 1rem;
          font-weight: 500;
          text-transform: capitalize;
          color: #333333;
          display: inline-block;
          margin-bottom: 15px; }
        .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._text p {
          color: #555555;
          padding: 0 30px;
          position: relative;
          font-size: 14px;
          font-size: 0.875rem; }
          .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._text p:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 14px;
            position: absolute;
            top: 7px;
            left: 0;
            background: url(../images/front/ic-comment-note.png) 0 0 no-repeat; }
          .content-bottom .comment-us .lst-comment-us .wrap-detail .detail ._text p:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 14px;
            position: absolute;
            bottom: 7px;
            right: 0;
            background: url(../images/front/ic-comment-note.png) -26px 0 no-repeat; }
  .content-bottom .comment-us .lst-comment-us .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
    .content-bottom .comment-us .lst-comment-us .owl-nav .owl-prev {
      position: inherit;
      left: -115px;
      height: 36px;
      display: inline-block; }
      .content-bottom .comment-us .lst-comment-us .owl-nav .owl-prev i {
        display: inline-block;
        width: 36px;
        height: 36px;
        opacity: 0.7;
        background: url(../images/front/ic-owl-comment.png) 0 0 no-repeat; }
        .content-bottom .comment-us .lst-comment-us .owl-nav .owl-prev i:hover {
          opacity: 1; }
    .content-bottom .comment-us .lst-comment-us .owl-nav .owl-next {
      position: inherit;
      right: -115px;
      height: 36px;
      display: inline-block; }
      .content-bottom .comment-us .lst-comment-us .owl-nav .owl-next i {
        display: inline-block;
        width: 36px;
        height: 36px;
        opacity: 0.7;
        background: url(../images/front/ic-owl-comment.png) -39px 0 no-repeat; }
        .content-bottom .comment-us .lst-comment-us .owl-nav .owl-next i:hover {
          opacity: 1; }

footer {
  padding-top: 15px; }
  footer .footer-top {
    height: 100px;
    background: url(../images/bg-footer.png) repeat-y top center;
    background-size: contain; }
    footer .footer-top .row {
      margin: 0; }
      footer .footer-top .row .box-left {
        width: 470px;
        padding-top: 39px;
        float: left;
        font-size: 18px;
        font-size: 1.125rem;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase; }
      footer .footer-top .row .box-right {
        width: calc(100% - 470px - 100px);
        float: left;
        height: 100px;
        padding-top: 33px; }
        footer .footer-top .row .box-right .form-email-reg input {
          width: calc(100% - 100px);
          height: 36px;
          border-radius: 0;
          box-shadow: 0;
          border: 0;
          outline: none;
          float: left;
          padding: 15px; }
          footer .footer-top .row .box-right .form-email-reg input::placeholder {
            font-size: 14px;
            font-size: 0.875rem;
            color: #a2a2a2; }
        footer .footer-top .row .box-right .form-email-reg .btn_submit {
          border-radius: 0;
          box-shadow: 0;
          height: 36px;
          width: 100px;
          border: 0;
          font-size: 14px;
          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 500;
          color: #ffffff;
          background: linear-gradient(90deg, #1fe892, #02c0a1);
          float: left;
          outline: none;
          cursor: pointer; }
          footer .footer-top .row .box-right .form-email-reg .btn_submit:hover {
            background: linear-gradient(150deg, #17a3fa 0%, #2bbec9 40%, #3fdb96 75%); }
  footer .footer-bottom {
    padding-top: 65px;
    padding-bottom: 55px;
    background: #0d0f12; }
    footer .footer-bottom .block-footer1 {
      margin-bottom: 52px; }
    footer .footer-bottom .menu-footer h5 {
      font-size: 20px;
      font-size: 1.25rem;
      color: #ffffff;
      margin-bottom: 3px; }
    footer .footer-bottom .menu-footer ul li a {
      color: #868886; }
      footer .footer-bottom .menu-footer ul li a:hover {
        text-decoration: underline; }
    footer .footer-bottom .menu-footer.pdl35 {
      padding-left: 35px; }
    footer .footer-bottom .coppy-right {
      margin-top: -35px; }
      footer .footer-bottom .coppy-right p {
        font-size: 14px;
        font-size: 0.875rem;
        color: #868886; }
      footer .footer-bottom .coppy-right .cpr-top {
        border-bottom: 1px solid #868886;
        padding-bottom: 10px; }
        footer .footer-bottom .coppy-right .cpr-top p {
          padding-top: 70px; }
      footer .footer-bottom .coppy-right .cpr-bottom {
        padding-top: 10px; }
        footer .footer-bottom .coppy-right .cpr-bottom ul {
          margin: 0 -5px; }
          footer .footer-bottom .coppy-right .cpr-bottom ul li {
            float: left;
            padding: 0 5px; }
            footer .footer-bottom .coppy-right .cpr-bottom ul li a {
              color: #000000; }
              footer .footer-bottom .coppy-right .cpr-bottom ul li a i {
                font-size: 11px;
                font-size: 0.6875rem;
                width: 18px;
                height: 18px;
                background: #838c8c;
                border-radius: 50%;
                text-align: center;
                padding-top: 3px; }

@-moz-document url-prefix() {}
@media (max-width: 990px) {
  a.menu-mobile {
    display: block; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media (max-width: 990px) {
  ul.menu {
    display: none; }

  a.menu-mobile {
    display: block; } }
article.post-content cite, article.post-content dfn, article.post-content em {
  font-style: italic; }

article.post-content p {
  margin: 0 0 20px;
  line-height: 1.8;
  font-size: 16px; }

article.post-content h1, article.post-content h2, article.post-content h3, article.post-content h4, article.post-content h5 {
  font-family: Roboto; }

article.post-content h1 {
  font-size: 25px; }

article.post-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700; }

article.post-content h3 {
  font-size: 18px;
  margin: 15px 0px; }

article.post-content h4 {
  font-size: 16px; }

article.post-content h5 {
  font-size: 14px; }

article.post-content ol, article.post-content ul {
  margin: 16px 0;
  padding: 0 0 0 40px; }

article.post-content ul {
  list-style-type: square; }

article.post-content ol {
  list-style: decimal outside; }

article.post-content li > ul, article.post-content li > ol {
  margin: 0; }

article.post-content dl {
  margin: 0 20px; }

article.post-content dt {
  font-weight: bold; }

article.post-content dd {
  margin: 0 0 20px; }

article.post-content strong {
  font-weight: bold; }

article.post-content code, article.post-content kbd, article.post-content pre, article.post-content samp {
  font-family: monospace,serif;
  font-size: 14px; }

article.post-content pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

article.post-content blockquote, article.post-content q {
  quotes: none; }

article.post-content blockquote:before, article.post-content blockquote:after, article.post-content q:before, article.post-content q:after {
  content: "";
  content: none; }

article.post-content blockquote {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px; }

article.post-content blockquote blockquote {
  margin-right: 0; }

article.post-content blockquote cite, article.post-content blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase; }

article.post-content cite {
  border-bottom: 0; }

article.post-content abbr[title] {
  border-bottom: 1px dotted; }

article.post-content address {
  font-style: italic;
  margin: 0 0 24px; }

article.post-content del {
  color: #333; }

article.post-content ins {
  background: #fff9c0;
  border: none;
  color: #333;
  text-decoration: none; }

article.post-content sub, article.post-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

article.post-content sup {
  top: -0.5em; }

article.post-content sub {
  bottom: -0.25em; }

article.post-content a {
  color: #ca3c08;
  text-decoration: none; }

article.post-content a:visited {
  color: #ac0404; }

article.post-content a:focus {
  outline: thin dotted; }

article.post-content a:active, article.post-content a:hover {
  color: #ea9629;
  outline: 0; }

article.post-content a:hover {
  text-decoration: underline; }

article.post-content .alignleft {
  float: left;
  margin: 5px 20px 5px 0; }

article.post-content .alignright {
  float: right;
  margin: 5px 0 5px 20px; }

article.post-content .aligncenter {
  display: block;
  margin: 5px auto; }

article.post-content img.alignnone {
  display: block;
  margin: 5px auto; }

article.post-content table {
  /* border:1px solid #ededed; */
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%; }

article.post-content caption, article.post-content th, article.post-content td {
  font-weight: normal !important;
  border: 1px solid #ededed;
  text-align: left; }

article.post-content caption {
  font-size: 16px;
  margin: 20px 0; }

article.post-content th {
  font-weight: normal !important;
  text-transform: uppercase;
  border: 1px solid #ededed; }

article.post-content td {
  border: 1px solid #949494;
  padding: 6px 10px 6px 10px; }

article.post-content img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 8; }
  article.post-content img article.post-content img {
    border: 8px solid #ededed; }

article.post-content .wp-caption {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left; }

article.post-content .wp-caption.alignleft {
  margin: 5px 10px 5px 0; }

article.post-content .wp-caption.alignright {
  margin: 5px 0 5px 10px; }

article.post-content .wp-caption-dt {
  margin: 0; }

article.post-content .wp-caption .wp-caption-text, article.post-content .wp-caption-dd {
  color: #220e10;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 24px;
  padding: 0; }

article.post-content .mceTemp + ul, article.post-content .mceTemp + ol {
  list-style-position: inside; }

article.post-content {
  font-size: 16px; }

article.post-content div {
  margin: 0 0 5px;
  line-height: 1.8;
  font-size: 16px; }

/*# sourceMappingURL=main.css.map */
